# Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Trained Model
backend/rf_model.pkl

# Database
data/database.db

# OS Files
.DS_Store
Thumbs.db


# Random Files
*.md
!README.md